In [1]:
import mysql.connector
from mysql.connector import Error

In [3]:
import mysql.connector
from mysql.connector import Error

pw = "Nikhil@2005"

connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd=pw
)

print("Connected to MySQL")

Connected to MySQL

In [4]:
cursor = connection.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS mysql_python;")
print("Database created successfully")

Database created successfully

In [5]:
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd=pw,
    database="mysql_python"
)

print("Connected DB:", connection.database)

Connected DB: mysql_python

In [6]:
cursor = connection.cursor()

create_table = """
CREATE TABLE IF NOT EXISTS orders(
    order_id INT PRIMARY KEY,
    customer_name VARCHAR(30) NOT NULL,
    product_name VARCHAR(20) NOT NULL,
    date_ordered DATE,
    quantity INT,
    unit_price FLOAT,
    phone_number VARCHAR(20)
);
"""

cursor.execute(create_table)
connection.commit()

print("Table created successfully")

Table created successfully

In [11]:
cursor.execute("SHOW TABLES")
print(cursor.fetchall())

[('orders',)]